<main class="main">
  <div class="inner">
    <% @tweets.each do |tweet| %>
    <div class="card">
      <div class="card__body">
        <%= link_to tweet.nickname, "#", class: :card__nickname%>
        <p class="card__summary">
          <%= tweet.text %>
        </p>
        <ul>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</main>

  </div>
</main>
